{# Copyright 2025 OppositeNor

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}
// {{ _prefix }}
#ifndef __WBE_SERIALIZABLES_ACCESS_GEN_HH__
#define __WBE_SERIALIZABLES_ACCESS_GEN_HH__

{% for serializable in metadata.structs %}
{% if serializable.attribute | select("in", serializables) | list | length > 0  %}
#include "{{ serializable.in_header }}"
{% endif %}
{% endfor %}

namespace WhiteBirdEngine {

{% for serializable in metadata.structs %}
{% if serializable.attribute | select("in", serializables) | list | length > 0  %}
/**
 * @class SerializableAccess<{{ serializable.name }}>
 * @brief Accessor for {{ serializable.name }}.
 */
template <>
class SerializableAccess<{{ serializable.name }}> {
public:
    SerializableAccess() = default;
    ~SerializableAccess() {}
    SerializableAccess(const SerializableAccess&) = delete;
    SerializableAccess(SerializableAccess&&) = delete;
    SerializableAccess& operator=(const SerializableAccess&) = delete;
    SerializableAccess& operator=(SerializableAccess&&) = delete;

    using SerializableType = {{ serializable.name }};

    /**
     * @brief List all fields of the serializable.
     *
     * @return A vector of field names.
     */
    static std::vector<std::string> list_fields() {
        return {
            {% for field in serializable.fields %}
            "{{ field.name }}",
            {% endfor %}
        };
    }

    /**
     * @brief Get the field by name.
     *
     * @param p_serializable The serializable instance.
     * @param p_name The name of the field.
     * @return A reference to the field.
     */
    template <typename T>
    T& get_field(SerializableType& p_serializable, const std::string& p_name) const {
        {% for field in serializable.fields %}
        if (p_name == "{{ field.name }}") {
            return p_serializable.{{ field.name }};
        }
        {% endfor %}
        throw std::runtime_error("Field not found: " + p_name);
    }

    /**
     * @brief Get the field by name.
     *
     * @param p_serializable The serializable instance.
     * @param p_name The name of the field.
     * @return A reference to the field.
     */
    template <typename T>
    const T& get_field(const SerializableType& p_serializable, const std::string& p_name) const {
        {% for field in serializable.fields %}
        if (p_name == "{{ field.name }}") {
            return p_serializable.{{ field.name }};
        }
        {% endfor %}
        throw std::runtime_error("Field not found: " + p_name);
    }
};
{% endif %}
{% endfor %}
}


#endif
